body {
    margin: 0
}

#grid {
    display: grid !important;
    grid-template-columns: auto auto auto auto auto !important;
    background-color: rgb(196, 47, 255);
    padding: 20px;
}

#cell-text {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(146, 146, 146);
    padding: 10px;
    font-size: 3vw;
    text-align: center;
    border-radius: 4px;
}